.wrapper {
    /* display: flex; */
    /* justify-content: space-between; */
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid lightblue;
    padding-bottom: 30px;
}

.cartItem div:not(:first-child) {
    flex: 1;
}

.information {
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.information>p>span {
    color: green;
}

.information>p>.productQuantity {
    color: #c1996b;
    background-color: black;
    padding: 5px 10px;
    border-radius: 7px; 
}

.cartItem img {
    max-width: 8vw;
    object-fit: contain;
}

.productImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.productImage>img {
    max-width: 160px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h3 {
    flex: 0 0 15em;
}