.btnProduct{
    font-family: 'Be Vietnam Pro', sans-serif;
    text-align: center;
    cursor: pointer;
    padding: 10px 25px;
    color: #ffff;
    font-size: 15px;
    border: 0;
    border-radius: 5px;
    background-color: #163440;
    font-weight: 400;
    transition: transform 200ms linear, background-color 200ms linear, color 200ms linear;
}

.btnProduct:hover{
    transform: scale(1.06);
}

.formControl {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
    height: 600px;
    width: 260px;
    padding: 0px 30px 0px 30px;
    /* margin: 0 1% 0 1%; */
    border-radius: 5px;
    /* background: rgba( 22, 52, 64, 0.8 ); */
    background: rgba( 0, 0, 0, 0.8 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 5px;
    color: #999999;
}

.searchBar {
    height: 14%;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #666666;
}

.ordenContainer {
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid #666666;
}

.orden {
    color: #f2f2f2;
}

.filtro {
    color: #f2f2f2;
}

.edad {
    width: 100%;
}
.edad select {
    width: 100%;
    border: none;
    border-color: transparent;
    border-radius: 5px;
    outline: none;
    height: 20px;
    margin-top: 5px;
    background-color: transparent;
    color: #f2f2f2;
    height: 30px;
    cursor: pointer;
    transition: background-color 200ms linear;
}
.edad select:hover {
    background-color: rgba(70, 70, 70, 0.308);;
}
.edad option {
    color: #f2f2f2;
    background-color: rgba( 0, 0, 0, 0.8 );;
}

.peso {
    width: 100%;
}
.peso select {
    width: 100%;
    border: none;
    border-color: transparent;
    border-radius: 5px;
    outline: none;
    height: 20px;
    margin-top: 5px;
    background-color: transparent;
    color: #f2f2f2;
    height: 30px;
    cursor: pointer;
    transition: background-color 200ms linear;
}
.peso select:hover {
    background-color: rgba(70, 70, 70, 0.308);;
}
.peso option {
    color: #f2f2f2;
    background-color: rgba( 0, 0, 0, 0.8 );
}

.filtroContainer {
    height: 51%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* .filtro {
    display: flex;
    align-items: center;
} */

.gender {
    width: 100%;
}
.gender select {
    width: 100%;
    border: none;
    border-color: transparent;
    border-radius: 5px;
    outline: none;
    height: 20px;
    margin-top: 5px;
    background-color: transparent;
    color: #f2f2f2;
    height: 30px;
    cursor: pointer;
    transition: background-color 200ms linear;
}
.gender select:hover {
    background-color: rgba(70, 70, 70, 0.308);;
}
.gender option {
    color: #f2f2f2;
    background-color: rgba( 0, 0, 0, 0.8 );;
}

.tamaño {
    width: 100%;
}
.tamaño select {
    width: 100%;
    border: none;
    border-color: transparent;
    border-radius: 5px;
    outline: none;
    height: 20px;
    margin-top: 5px;
    background-color: transparent;
    color: #f2f2f2;
    height: 30px;
    cursor: pointer;
    transition: background-color 200ms linear;
}
.tamaño select:hover {
    background-color: rgba(70, 70, 70, 0.308);;
}
.tamaño option {
    color: #f2f2f2;
    background-color: rgba( 0, 0, 0, 0.8 );;
}

.focus {
    box-shadow: 0 0 2px #ca925d;
}

.color {
    width: 100%;
}
.color select {
    width: 100%;
    border: none;
    border-color: transparent;
    border-radius: 5px;
    outline: none;
    height: 20px;
    margin-top: 5px;
    background-color: transparent;
    color: #f2f2f2;
    height: 30px;
    cursor: pointer;
    transition: background-color 200ms linear;
}
.color select:hover {
    background-color: rgba(70, 70, 70, 0.308);;
}
.color option {
    color: #f2f2f2;
    background-color: rgba( 0, 0, 0, 0.8 );;
}

.temperamento {
    width: 100%;
}
.temperamento select {
    width: 100%;
    border: none;
    border-color: transparent;
    border-radius: 5px;
    outline: none;
    height: 20px;
    margin-top: 5px;
    background-color: transparent;
    color: #f2f2f2;
    height: 30px;
    cursor: pointer;
    transition: background-color 200ms linear;
}
.temperamento select:hover {
    background-color: rgba(70, 70, 70, 0.308);;
}
.temperamento option {
    color: #f2f2f2;
    background-color: rgba( 0, 0, 0, 0.8 );;
}