<table style="margin: 0 auto; width: auto; border-radius: 20px; background-color: #D9AD77; font-family: 'Be Vietnam Pro'; max-width: 600px; max-height: 600px;">
    <tr>
        <td style="text-align: center;">
            <p style="color:#163440; font-weight:bold; font-size: 25px">
                FELICITACIONES HAS SIDO APROBADO PARA ADOPTAR A: {{dogname}}
            </p>
            <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682459988/Patitas%20felices/Felicitaciones_1_fmfr94.jpg" style="width: 308px; height: 410px; border-radius: 20px;"/>
            <p style="color:#592519; font-weight:bold; font-size: 20px;">
                En instantes nos pondremos en contacto contigo para coordinar el encuentro con el nuevo miembro de tu familia.
            </p>
        </td>
    </tr>
    <tr>
        <td style="color:#163440; font-weight:bold; font-size: 16px">
            <p style="color:#592519; font-weight:bold; text-align:center">
                A continuación te dejamos los datos y la historia de {{dogname}}:
            </p>
            <p>
                <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682196730/Patitas%20felices/paw_ro5uij.png" alt="item-image" style="width: 15px; height: 15px; text-align: left; margin-left: 20px;"/>
                    Perrito adoptado: {{dogname}}
            </p>
            <p>
                <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682196730/Patitas%20felices/paw_ro5uij.png" alt="item-image" style="width: 15px; height: 15px; text-align: left; margin-left: 20px;"/>
                    Peso: {{weight}}
            </p>
            <p>
                <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682196730/Patitas%20felices/paw_ro5uij.png" alt="item-image" style="width: 15px; height: 15px; text-align: left; margin-left: 20px;"/>
                    Color: {{color}}
            </p>
            <p>
                <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682196730/Patitas%20felices/paw_ro5uij.png" alt="item-image" style="width: 15px; height: 15px; text-align: left; margin-left: 20px;"/>
                    Temperamento: {{temperament}}
            </p>
            <p>
                <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682196730/Patitas%20felices/paw_ro5uij.png" alt="item-image" style="width: 15px; height: 15px; text-align: left; margin-left: 20px;"/>
                    Edad: {{age}}
            </p>
            <p>
                <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682196730/Patitas%20felices/paw_ro5uij.png" alt="item-image" style="width: 15px; height: 15px; text-align: left; margin-left: 20px;"/>
                    Genero: {{gender}}
            </p>
            <p>
                <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682196730/Patitas%20felices/paw_ro5uij.png" alt="item-image" style="width: 15px; height: 15px; text-align: left; margin-left: 20px; text-align: justify;"/>
                    Historia y más detalles: {{description}}
            </p>
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <p style="color: #163440; font-size: 18px;">
                Ahora es tu turno de escribir una nueva historia juntos.
            </p>
            <p style="color: #163440; font-size: 18px;">
                Gracias por formar parte de la vida de este perrito.
            </p>
            <p style="color:#592519; font-weight:bold; font-size: 15px;">
                El equipo de Patitas Felices.
            </p>
            <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682439195/Patitas%20felices/xAQYbIA_mqguat.png" alt="logo not found" style="max-width: 100px; display:block; margin: 20px auto;" />
        </td>
    </tr>
</table>