<table style="margin: 0 auto; max-width: 600px; height: auto; border-radius: 20px; background-color: #D9AD77; font-family: 'Be Vietnam Pro';">
    <tr>
        <td style="text-align: center;">
            <p style="color:#163440; font-weight:bold; font-size: 25px">
                CONGRATULATIONS! YOU HAVE BEEN APPROVED TO ADOPT: {{dogname}}
            </p>
            <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682459988/Patitas%20felices/Felicitaciones_1_fmfr94.jpg" style="width: 308px; height: 410px; border-radius: 20px;" alt="foto"/>
            <p style="color:#592519; font-weight:bold; font-size: 20px;">
                We will contact you shortly to coordinate your meeting with the new member of the family.
            </p>
        </td>
    </tr>
    <tr>
        <td style="color:#163440; font-weight:bold; font-size: 16px">
            <p style="color:#592519; font-weight:bold; text-align:center">
                Below, we provide you with the data and the story of {{dogname}}:
            </p>
            <p>
                <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682196730/Patitas%20felices/paw_ro5uij.png" alt="item-image" style="width: 15px; height: 15px; text-align: left; margin-left: 20px;"/>
                    Adopted doggui: {{dogname}}
            </p>
            <p>
                <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682196730/Patitas%20felices/paw_ro5uij.png" alt="item-image" style="width: 15px; height: 15px; text-align: left; margin-left: 20px;"/>
                    Weight: {{weight}}
            </p>
            <p>
                <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682196730/Patitas%20felices/paw_ro5uij.png" alt="item-image" style="width: 15px; height: 15px; text-align: left; margin-left: 20px;"/>
                    Color: {{color}}
            </p>
            <p>
                <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682196730/Patitas%20felices/paw_ro5uij.png" alt="item-image" style="width: 15px; height: 15px; text-align: left; margin-left: 20px;"/>
                    Temperament: {{temperament}}
            </p>
            <p>
                <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682196730/Patitas%20felices/paw_ro5uij.png" alt="item-image" style="width: 15px; height: 15px; text-align: left; margin-left: 20px;"/>
                    Age: {{age}}
            </p>
            <p>
                <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682196730/Patitas%20felices/paw_ro5uij.png" alt="item-image" style="width: 15px; height: 15px; text-align: left; margin-left: 20px;"/>
                    gender: {{gender}}
            </p>
            <p>
                <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682196730/Patitas%20felices/paw_ro5uij.png" alt="item-image" style="width: 15px; height: 15px; text-align: left; margin-left: 20px; text-align: justify;"/>
                    Story and more details: {{description}}
            </p>
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <p style="color: #163440; font-size: 18px;">
                Now it is your turn to write a new story together.
            </p>
            <p style="color: #163440; font-size: 18px;">
                Thank you for being a part of this little dog's life.
            </p>
            <p style="color:#592519; font-weight:bold; font-size: 15px;">
                Happy Paws Team
            </p>
            <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682439195/Patitas%20felices/xAQYbIA_mqguat.png" alt="logo not found" style="max-width: 100px; display:block; margin: 20px auto;" />
        </td>
    </tr>
</table>