<table style="max-width: 600px; height: auto; margin: 0 auto; width: auto; border-radius: 20px; background-color: #D9AD77; font-family: 'Be Vietnam Pro';">
    <tr>
        <td style="text-align: center;">
            <p style="color:#163440; font-weight:bold; font-size: 25px">
                Completaste el formulario para adoptar a {{dogname}}
            </p>
            <p style="color:#592519; font-weight:bold; font-size: 18px; text-align:center">
                Muchas gracias por querer cambiar la vida de uno de nuestro perritos.
            </p>
            <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682450649/Patitas%20felices/Gracias_por_tu_interes_en_adoptarme_jaezdr.jpg"
            alt="foto"
            style="width: 308px; height: 493px; border-radius: 20px; "/>
        </td>
    </tr>
    <tr>
        <td style="color:#163440; font-weight:bold; font-size: 16px">
            <p style="color:#163440; font-weight:bold; text-align: justify; margin: 10px;">
                Agradecemos tu interés en adoptar a uno de nuestros perritos. La información que nos proporcionaste será analizada detenidamente. Pronto recibirás por correo electrónico el estado de tu solicitud. Si esta es aprobada, nos pondremos en contacto contigo para coordinar la adopción. ¡Gracias por confiar en nosotros y en nuestra labor!
            </p>
            <p style="color:#592519; font-weight:bold; text-align:center">
                A continuación se muestran los datos del formulario que has completado:
            </p>
            <p>
                <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682196730/Patitas%20felices/paw_ro5uij.png"
                alt="item-image"
                style="width: 15px; height: 15px; text-align: left; margin-left: 20px;"/>
                    Perrito que quieres adoptar: {{dogname}}
            </p>
            <p>
                <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682196730/Patitas%20felices/paw_ro5uij.png"
                alt="item-image"
                style="width: 15px; height: 15px; text-align: left; margin-left: 20px;"/>
                    Nombre completo: {{fullname}}
            </p>
            <p>
                <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682196730/Patitas%20felices/paw_ro5uij.png"
                alt="item-image"
                style="width: 15px; height: 15px; text-align: left; margin-left: 20px;"/>
                    Teléfono: {{phone}}
            </p>
            <p>
                <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682196730/Patitas%20felices/paw_ro5uij.png"
                alt="item-image"
                style="width: 15px; height: 15px; text-align: left; margin-left: 20px;"/>
                    Dirección: {{address}}
            </p>
            <p>
                <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682196730/Patitas%20felices/paw_ro5uij.png"
                alt="item-image"
                style="width: 15px; height: 15px; text-align: left; margin-left: 20px;"/>
                    E-mail: {{email}}
            </p>
            <p style="font-size: 18px; color: #666666;text-align:center;">
                Si algún dato es incorrecto, te pedimos por favor nos escribas al siguiente correo electrónico aclarando los datos correctos:
                <a style="text-decoration: none; cursor: pointer; color: #163440;"
                href="mailto:happypawspf2023@gmail.com">happypawspf2023@gmail.com
                </a>
            </p>
        </td>
    </tr>
    <tr style="align-items: center;">
        <td>
            <p style="color:#592519; font-weight:bold; font-size: 15px; text-align:center">
                En un plazo de 48 horas nos pondremos en contacto contigo.
            </p>
            <p style="color:#592519; font-weight:bold; font-size: 15px; text-align:center">
                El equipo de Patitas Felices.
            </p>
            <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682439195/Patitas%20felices/xAQYbIA_mqguat.png"
            alt="logo not found"
            style="max-width: 100px; display:block; margin: 20px auto;" />
        </td>
    </tr>
</table>