<table valign="top" style="max-width: 600px; height: auto; margin:0 auto;background-color:#163440; border-radius: 20px; font-family: 'Be Vietnam Pro'">
    <tr>
        <td style=" background:#D9AD77; text-align: center; font-size: 18px; border-radius: 20px;">
            <p style="color: #163440;">
                <b>¿Deseas reestablecer tu contraseña?</b>
            </p>
            <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1683046934/Parece_que_necesitas_reestablecer_tu_contrase%C3%B1a_1_lnzngd.jpg" 
            alt="contraseña" 
            style="width: 500px; margin: 0 auto; display: flex; border-radius: 20px;">
        </td>
    </tr>
    <tr>
        <td style="font-size:14px;font-weight:400;line-height:24px;text-align:center;padding:40px 40px;color:#d5d7dd">
            <p style="color:#D9AD77;">
                <b>¡Hola, {{username}}!</b>
            </p>
            <p>
                Hemos recibido una solicitud de recuperación de contraseña para tu cuenta.
            </p>
            <a title="Confirmar la cuenta" href="https://patitas-felices.vercel.app/password-reset?token={{token}}" style="font-weight:bold;letter-spacing:normal;text-align:center;text-decoration:none;color:#D9AD77;padding: 15px 10px; background-color: #592519; border-radius:20px; margin: 0px 15px;display: block;" target="_blank">Cambiar la <span class="il">contraseña</span></a>
            <p> <i><b>Importante:</b>
                Este enlace expirará en 15 minutos! Si no solicitaste un cambio de contraseña, ignora este correo y no se harán cambios de tu cuenta.</i>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p style="text-align: center; color:#D9AD77;">
                Equipo de Patitas Felices
            </p>
            <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682439195/Patitas%20felices/xAQYbIA_mqguat.png" 
            alt="logo not found" 
            style="max-width: 100px; display:block; margin: 20px auto;"/>
        </td>
    </tr>
</table>
