<table valign="top" style="width:600px;min-width:600px;border-spacing:0;border-collapse:collapse;margin:0 auto;word-wrap:break-word;word-break:break-word;background-color:#163440" width="600" cellspacing="0" cellpadding="0" border="0" bgcolor="#163440" align="center">
    <tbody>
    <tr>
        <td style="padding:40px 0 30px 0;background:#D9AD77;" align="center">
            <img src="https://i.imgur.com/xAQYbIA.png" alt="" style="height:auto;display:block;" width="300">
        </td>
    </tr>
    <tr>
        <td style="padding:0" align="center">
            <table width="600" cellspacing="0" cellpadding="0" border="0">
                <tbody><tr>
                    <td bgcolor="#163440">
                        <table style="width:100%;min-width:100%;border-spacing:0;border-collapse:collapse;word-wrap:break-word;word-break:break-word" width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody><tr>
                                <td style="font-family:'Noto Sans','Open Sans',Frutiger,'Frutiger Linotype',Univers,'Helvetica Neue',Helvetica,Arial,'Gill Sans','Gill Sans MT','Myriad Pro',Myriad,'DejaVu Sans Condensed','Liberation Sans','Nimbus Sans L','Malgun Gothic','Microsoft YaHei',AppleSDGothicNeo,AppleGothic,Dotum,'Microsoft JhengHei','Hiragino Kaku Gothic Pro','Hiragino Kaku Gothic ProN W3',Osaka,メイリオ,Meiryo,'\00ff2d\00ff33  \00ff30\0030b4\0030b7\0030c3\0030af',Calibri,Geneva,Display,Tahoma,Verdana,sans-serif;font-size:14px;font-weight:400;line-height:24px;text-align:left;padding:40px 40px;color:#d5d7dd">
                                <p> ¡Hola, {{username}}! Gracias por registrar!
                                </p>
                                <p> Para completar tu registro, por favor confirma tu cuenta.
                                </p>
                                <a title="Confirmar la cuenta" href="http://localhost:3000/account/?email_confirmation={{token}}" style="font-weight:bold;letter-spacing:normal;text-align:center;text-decoration:none;color:#D9AD77;padding: 15px 10px; background-color: #592519;  margin: 0px 15px;display: block;" target="_blank">Confirmar la <span class="il">cuenta</span></a>
                                <p> <i><b>Importante:</b> El link expirará en 10 minutos. ¡Verifica lo antes posible!</i>
                                </p>
                                Patitas Felices</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody></table>
        </td>
    </tr>
    </tbody>
</table>
