<table style="margin: 0 auto; width: auto; border-radius: 20px; background-color: #D9AD77; font-family: 'Be Vietnam Pro' ">
    <tr>
        <td style="background-color: #163440; border-radius: 20px; padding: 20px; text-align: center; width: 600px; margin: 15px 15px;">
            <p style=" color:#D9AD77; font-weight:bold; font-size: 20px;">
                Welcome to Happy Paws, {{username}}!
            </p>
            <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682197410/Patitas%20felices/james-barker-v3-zcCWMjgM-unsplash_upeufj.jpg" alt="image not found" style="width: 500px; margin: 0 auto; display: flex; border-radius: 20px;"/>
        </td>
    </tr>
    <tr style="text-align: center; font-size: 18px; color: #592519;">
        <td>
            <p>
                Thank you for register!
            </p>
            <p>
                To complete your register, please confirm your email by clicking here:
                <a title="Confirmar la cuenta" href="http://localhost:3000/confirm-account?token={{token}}" style="font-weight:bold;letter-spacing:normal;text-align:center;text-decoration:none;color:#D9AD77;padding: 15px 10px; background-color: #592519;  margin: 15px 15px;display: block; border-radius: 20px; " target="_blank" >Confirm <span class="il">account</span></a>
            </p>
            <p style="font-size: 15px;"> <i><b>Warning:</b> The link will expire in 10 minutes. Please, verify as soon as possible!</i>
            </p>
            <p style="font-size: 16px; color: #666666;">
                If you have not requested the subscription on our website, please ignore this email.
            </p>
        </td>
    </tr>

    <tr>
        <td>
            <img src="https://images-ext-1.discordapp.net/external/6M858CmK6oZ6ucjyZiDMRtdf8V8s88V4Er8V49gtU-g/https/res.cloudinary.com/dsbekpj9h/image/upload/v1682439195/Patitas%2520felices/xAQYbIA_mqguat.png?width=554&height=554" alt="logo not found" style="max-width: 100px; display:block; margin: 20px auto;"/>
        </td>
    </tr>
</table>