<table style="max-width: 600px; height: auto; margin: 0 auto; width: auto; border-radius: 20px; background-color: #D9AD77; font-family: 'Be Vietnam Pro';">
    <tr>
        <td style="text-align: center;">
            <p style="color:#163440; font-weight:bold; font-size: 25px">
                You have completed the form to adopt {{dogname}}
            </p>
            <p style="color:#592519; font-weight:bold; font-size: 18px; text-align:center">
                Thank you very much for wanting to change the life of one of our dogs.
            </p>
            <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682450649/Patitas%20felices/Gracias_por_tu_interes_en_adoptarme_jaezdr.jpg" 
            alt="foto"
            style="width: 308px; height: 493px; border-radius: 20px; "/>
        </td>
    </tr>
    <tr>
        <td style="color:#163440; font-weight:bold; font-size: 16px">
            <p style="color:#163440; font-weight:bold; text-align: justify; margin: 10px;">
                We appreciate your interest in adopting one of our dogs. The information you provided will be carefully analyzed. Soon, you will receive an email with the status of your application. If it is approved, we will contact you to coordinate the adoption. Thank you for trusting us and our work!
            </p>
            <p style="color:#592519; font-weight:bold; text-align:center">
                Below are the details of the form you have completed:
            </p>
            <p>
                <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682196730/Patitas%20felices/paw_ro5uij.png"
                alt="item-image"
                style="width: 15px; height: 15px; text-align: left; margin-left: 20px;"/>
                    Doggui you want to adopt: {{dogname}}
            </p>
            <p>
                <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682196730/Patitas%20felices/paw_ro5uij.png"
                alt="item-image"
                style="width: 15px; height: 15px; text-align: left; margin-left: 20px;"/>
                    Full name: {{fullname}}
            </p>
            <p>
                <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682196730/Patitas%20felices/paw_ro5uij.png"
                alt="item-image"
                style="width: 15px; height: 15px; text-align: left; margin-left: 20px;"/>
                    Phone: {{phone}}
            </p>
            <p>
                <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682196730/Patitas%20felices/paw_ro5uij.png"
                alt="item-image"
                style="width: 15px; height: 15px; text-align: left; margin-left: 20px;"/>
                    Address: {{address}}
            </p>
            <p>
                <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682196730/Patitas%20felices/paw_ro5uij.png"
                alt="item-image"
                style="width: 15px; height: 15px; text-align: left; margin-left: 20px;"/>
                    Email: {{email}}
            </p>
            <p style="font-size: 18px; color: #666666;text-align:center;">
                If something of this is incorrect, please write to us at the following email address, clarifying the correct details:
                <a style="text-decoration: none; cursor: pointer; color: #163440;"
                href="mailto:happypawspf2023@gmail.com">happypawspf2023@gmail.com
                </a>
            </p>
        </td>
    </tr>
    <tr style="align-items: center;">
        <td>
            <p style="color:#592519; font-weight:bold; font-size: 15px; text-align:center">
                We will contact you within 48 hours.
            </p>
            <p style="color:#592519; font-weight:bold; font-size: 15px; text-align:center">
                Happy Paws Team
            </p>
            <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682439195/Patitas%20felices/xAQYbIA_mqguat.png"
            alt="logo not found"
            style="max-width: 100px; display:block; margin: 20px auto;" />
        </td>
    </tr>
</table>