<table style="margin: 0 auto; width: auto; border-radius: 20px; background-color: #D9AD77; font-family: 'Be Vietnam Pro' ">
    <tr>
        <td style="background-color: #163440; border-radius: 20px; padding: 20px; text-align: center; width: 600px; margin: 15px 15px;">
            <p style=" color:#D9AD77; font-weight:bold; font-size: 20px;">
                ¡Te damos la Bienvenida a Patitas Felices, {{username}}!
            </p>
            <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682197410/Patitas%20felices/james-barker-v3-zcCWMjgM-unsplash_upeufj.jpg" alt="image not found" style="width: 500px; margin: 0 auto; display: flex; border-radius: 20px;"/>
        </td>
    </tr>
    <tr style="text-align: center; font-size: 18px; color: #592519;">
        <td>
            <p>
                ¡Gracias por registrarte!
            </p>
            <p>
                Para completar tu registro te pedimos que confirmes tu e-mail haciendo click aquí:
                <a title="Confirmar la cuenta" href="https://patitas-felices.vercel.app/confirm-account?token={{token}}" style="font-weight:bold;letter-spacing:normal;text-align:center;text-decoration:none;color:#D9AD77;padding: 15px 10px; background-color: #592519;  margin: 15px 15px;display: block; border-radius: 20px; " target="_blank" >Confirmar la <span class="il">cuenta</span></a>
            </p>
            <p style="font-size: 15px;"> <i><b>Importante:</b> El link expirará en 10 minutos. ¡Verifica lo antes posible!</i>
            </p>
            <p style="font-size: 16px; color: #666666;">
                Si no has sido tú quien ha solicitado la suscripción en nuestra página, ignora este correo electrónico.
            </p>
        </td>
    </tr>

    <tr>
        <td>
            <img src="https://images-ext-1.discordapp.net/external/6M858CmK6oZ6ucjyZiDMRtdf8V8s88V4Er8V49gtU-g/https/res.cloudinary.com/dsbekpj9h/image/upload/v1682439195/Patitas%2520felices/xAQYbIA_mqguat.png?width=554&height=554" alt="logo not found" style="max-width: 100px; display:block; margin: 20px auto;"/>
        </td>
    </tr>
</table>