<table style="max-width: 600px; max-height: 600px; margin: 0 auto; width: auto; border-radius: 20px; background-color: #D9AD77; font-family: 'Be Vietnam Pro';">
    <tr>
        <td style="text-align: center;">
            <p style="color:#163440; font-weight:bold; font-size: 20px">
                Lamentamos informar que la solicitud de adopción fue denegada.
            </p>
            <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682466242/Patitas%20felices/bacila-vlad-wEsZOhuwoYM-unsplash_rohszb.jpg" style="width: 308px; height: 205px; border-radius: 20px;"/>
        </td>
    </tr>
    <tr>
        <td style="font-weight:bold; font-size: 16px;">
            <p style="text-align: justify; color:#163440; margin: 10px;">
                Lamentablemente, la solicitud para adoptar un perrito ha sido denegada. A pesar de que valoramos el interés en ofrecer un hogar amoroso y seguro a uno de nuestros amigos peludos, nuestro equipo de adopción ha determinado que no cumples con las condiciones óptimas para garantizar el bienestar y la felicidad del perrito. La adopción responsable implica una serie de requisitos que debemos asegurarnos de que se cumplan, ya que nuestro principal objetivo es garantizar que los animales tengan una vida plena, saludable y feliz en su nuevo hogar. No te desanimes, puedes seguir trabajando en mejorar las condiciones del hogar para futuras solicitudes de adopción.
            </p>
            <p style="text-align: center; color:#592519; margin: 10px;">
                Si quieres saber más sobre los motivos de esta decisión puedes escribirnos al siguiente correo electronico
                <a style="text-decoration: none; cursor: pointer; color: #163440;" href="mailto:happypawspf2023@gmail.com"
                target="_blank">happypawspf2023@gmail.com</a>
            </p>
            <p style="color:#592519; font-weight:bold; font-size: 15px; text-align:center;margin: 10px;">
                El equipo de Patitas Felices.
            </p>
            <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682439195/Patitas%20felices/xAQYbIA_mqguat.png" alt="logo" style="max-width: 100px; display:block; margin: 20px auto;" />
        </td>
    </tr>
</table>