<table style="max-width: 600px; max-height: 600px; margin: 0 auto; width: auto; border-radius: 20px; background-color: #D9AD77; font-family: 'Be Vietnam Pro';">
    <tr>
        <td style="text-align: center;">
            <p style="color:#163440; font-weight:bold; font-size: 20px">
                We regret to inform you that the adoption request has been denied.
            </p>
            <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682466242/Patitas%20felices/bacila-vlad-wEsZOhuwoYM-unsplash_rohszb.jpg" style="width: 308px; height: 205px; border-radius: 20px;"/>
        </td>
    </tr>
    <tr>
        <td style="font-weight:bold; font-size: 16px;">
            <p style="text-align: justify; color:#163440; margin: 10px;">
                We regret to inform you that your adoption application for one of our furry friend has been denied. While we appreciate your interest in providing a loving and safe home to one of our animals, our adoption team has determined that you do not meet the best conditions to ensure the well-being and happiness of the pet. Responsible adoption involves a set of requirements that we must ensure are met, as our main goal is to ensure that animals have a full, healthy, and happy life in their new home. Don't be discouraged, though. You can continue working on improving the conditions of your home for future adoption applications.
            </p>
            <p style="text-align: center; color:#592519; margin: 10px;">
                If you want to know more about the reasons behind this decision, you can write to us at the following email address:
                <a style="text-decoration: none; cursor: pointer; color: #163440;" href="mailto:happypawspf2023@gmail.com"
                target="_blank">happypawspf2023@gmail.com</a>
            </p>
            <p style="color:#592519; font-weight:bold; font-size: 15px; text-align:center;margin: 10px;">
                Happy Paws Team
            </p>
            <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682439195/Patitas%20felices/xAQYbIA_mqguat.png" alt="logo" style="max-width: 100px; display:block; margin: 20px auto;" />
        </td>
    </tr>
</table>