<table style="max-width: 600px; margin: 0 auto; width: auto; border-radius: 20px; background-color: #D9AD77; font-family: 'Be Vietnam Pro';">
    <tr>
        <td style="text-align: center;">
            <p style="color:#163440; font-weight:bold; font-size: 20px">
                Hola, {{username}}. El registro se realizó con éxito.
            </p>
            <p style="color:#592519; text-align: center; ">
                ¡Te damos la bienvenida a 
                <a style="text-decoration: none; color:#592519;" href="https://patitas-felices.vercel.app/home" target="_blank">
                    <b style="cursor: pointer;"> Patitas Felices!
                    </b>
                </a>
            </p>
            <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682554521/Confirmacion_de_cuenta_hg4rcy.jpg" style="width: 308px; height: 192px; border-radius: 20px;" alt=""/>                
            <p style="color:#163440; font-size: 16px; font-weight:bold; text-align: justify; margin: 10px;">
                ¡Gracias por unirte a nuestra comunidad! En Patitas Felices trabajamos incansablemente para brindarles atención, cuidados necesarios y un hogar a muchos perritos callejeros. Puedes conocerlos haciendo click aquí:
                </p>
                <a href="https://patitas-felices.vercel.app/dogs" target="_blank" >
                    <img src="https://res.cloudinary.com/dreso9ye9/image/upload/v1681884590/91540-dog-love_b0o1tw.gif"
                         alt="perritos"
                         style="cursor: pointer; width: 150px; height: auto; text-align: center; border-radius: 20px;"/>
                </a>
                <p style="color:#163440; font-size: 16px; font-weight:bold; text-align: center; margin: 10px;">
                    Si deseas contribuir con nuestro trabajo, puedes hacerlo de varias maneras:
                </p>
                <p style="color:#163440; font-weight:bold; font-size: 16px; text-align: justify; margin: 10px;">
                    <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682196730/Patitas%20felices/paw_ro5uij.png" 
                    alt="item-image" 
                    style="width: 15px; height: 15px; text-align: left; margin-left: 20px;"/>
                    Una de ellas es mediante donaciones, las cuales nos permiten continuar salvando vidas y brindando atención médica a los perritos necesitados. Si te encuentras interesado en realizar una donación, puedes hacerlo a través de nuestro sitio web haciendo click aquí:
                </p>
                <a href="https://patitas-felices.vercel.app/donation" target="_blank">
                    <img src="https://res.cloudinary.com/dreso9ye9/image/upload/v1681880432/133833-money-donation_siju2e.gif"
                         alt="perritos"
                         style="cursor: pointer; width: 150px; height: auto; text-align: center; border-radius: 20px;" />
                </a>
                <p style="color:#163440; font-weight:bold; font-size: 16px; text-align: justify; margin: 10px;">
                    <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682196730/Patitas%20felices/paw_ro5uij.png" 
                    alt="item-image" 
                    style="width: 15px; height: 15px; text-align: left; margin-left: 20px;"/>    
                    Además, también puedes apoyarnos adquiriendo productos en nuestra tienda en línea. Todos los fondos recaudados con la compra de nuestros productos van directamente al cuidado y mantención de los perros que tenemos a cargo. Para ver los productos disponibles, puedes visitar nuestra tienda en línea haciendo click aquí:
                </p>
                <a href="https://patitas-felices.vercel.app/products" target="_blank">
                    <img src="https://res.cloudinary.com/dreso9ye9/image/upload/v1682451588/53902-online-shopping-and-delivery_mcqxa0.gif"
                         alt="perritos"
                         style="cursor: pointer; width: 150px; height: auto; text-align: center; border-radius: 20px;"/>
                </a>
                <p style="color:#592519; text-align: center;">
                 Juntos podemos lograr grandes cambios. ¡Gracias por registrarte!
                </p>
            </p>
        </td>
    <tr>
        <td>
            <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682439195/Patitas%20felices/xAQYbIA_mqguat.png" 
            alt="logo not found" 
            style="max-width: 100px; display:block; margin: 20px auto;" />
        </td>
    </tr>
</table>