<table style="max-width: 600px; height: auto; margin: 0 auto; width: auto; border-radius: 20px; background-color: #D9AD77; font-family: 'Be Vietnam Pro';">
    <tr>
        <td style="text-align: center;">
            <p style="color:#163440; font-weight:bold; font-size: 25px">
                Thank you very much for shopping at our store!
            </p>
            <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682535848/Patitas%20felices/Gracias_por_tu_compra_omnb9r.jpg"
                 style="width: 308px; height: 463px; border-radius: 20px;" 
                 alt="foto"/>
        </td>
    </tr>
    <tr>
        <td style="color:#163440; font-weight:bold; font-size: 18px">
            <p style="color:#592519; text-align: center;">
                Here is the information for your purchase:
            </p>
            <p style="color:#163440; text-align: left;">
                <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682196730/Patitas%20felices/paw_ro5uij.png"
                     alt="item-image"
                     style="width: 15px; height: 15px; text-align: left; margin-left: 20px;"/>
                Order nº: {{order}}
            </p>
            <p style="color:#163440; text-align: left;">
                <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682196730/Patitas%20felices/paw_ro5uij.png"
                     alt="item-image"
                     style="width: 15px; height: 15px; text-align: left; margin-left: 20px;"/>
                Purchased products:</p>
            <ul>
                {{#each product}}
                <li>{{this.name}}
                    <ul>
                        <li>Unitary price: {{this.price}}</li>
                        <li>Qunatity: {{this.quantity}}</li>
                    </ul>
                </li>
                {{/each}}
            </ul>
            <p style="color:#163440; text-align: left;">
                <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682196730/Patitas%20felices/paw_ro5uij.png"
                     alt="item-image"
                     style="width: 15px; height: 15px; text-align: left; margin-left: 20px;"/>
                Total price: {{amount}}
            </p>
            <p style="font-size: 18px; color: #666666;text-align:center;">
                To coordinate the shipment of the products, please write to us an email at the following address
            </p>
            <p style="font-size: 18px; text-align:center;">
                <a style="text-decoration: none; cursor: pointer; color: #163440; margin: 20px"
                   href="mailto:happypawspf2023@gmail.com">
                    <img style="width: 25px; height: 25px"
                         src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682552071/email_qyeisu.png"
                         alt="logo mail"/> happypawspf2023@gmail.com
                </a>
            </p>
            <p style="font-size: 18px; color: #666666;text-align:center;">
                or you can send us a WhatsApp message to
            </p>
            <p style="font-size: 18px; text-align:center;">
                <a style="text-decoration: none; cursor: pointer; color: #163440; margin: 20px;"
                   href="https://wa.me/+5493516848443">
                    <img style="width: 25px; height: 25px"
                         src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682551853/whatsapp_q209mp.png"
                         alt="logo whatsapp"/> 3516848443
                </a>
            </p>
            <p style="color:#163440; font-weight:bold; text-align: justify; margin: 10px;">
                Thank you for purchasing our products! By buying from us, not only do you acquire high-quality products, but also contribute to our mission of giving stray dogs a home. We know that your support is essential to achieving our goal of providing a safe and loving home to every needy dog. Together, we can make a big difference in the world!
            </p>
            <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682439195/Patitas%20felices/xAQYbIA_mqguat.png"
                 alt="logo not found"
                 style="max-width: 100px; display:block; margin: 20px auto;" />
        </td>
    </tr>
</table>