<table style="max-width: 600px; margin: 0 auto; width: auto; border-radius: 20px; background-color: #D9AD77; font-family: 'Be Vietnam Pro';">
    <tr>
        <td style="text-align: center;">
            <p style="color:#163440; font-weight:bold; font-size: 20px">
                Hi, {{username}}. Registration was successful.
            </p>
            <p style="color:#592519; text-align: center; ">
                Welcome to
                <a style="text-decoration: none; color:#592519;" href="https://patitas-felices.vercel.app/home" target="_blank">
                    <b style="cursor: pointer;"> Happy Paws!
                    </b>
                </a>
            </p>
            <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682554521/Confirmacion_de_cuenta_hg4rcy.jpg" style="width: 308px; height: 192px; border-radius: 20px;" alt=""/>
            <p style="color:#163440; font-size: 16px; font-weight:bold; text-align: justify; margin: 10px;">
                Welcome to our community! At Happy Paws, we work tirelessly to provide care, necessary attention, and a home to many stray dogs. You can get to know them by clicking here:
            </p>
            <a href="https://patitas-felices.vercel.app/dogs" target="_blank" >
                <img src="https://res.cloudinary.com/dreso9ye9/image/upload/v1681884590/91540-dog-love_b0o1tw.gif"
                     alt="perritos"
                     style="cursor: pointer; width: 150px; height: auto; text-align: center; border-radius: 20px;"/>
            </a>
            <p style="color:#163440; font-size: 16px; font-weight:bold; text-align: center; margin: 10px;">
                If you wish to contribute to our work, there are several ways you can do it:
            </p>
            <p style="color:#163440; font-weight:bold; font-size: 16px; text-align: justify; margin: 10px;">
                <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682196730/Patitas%20felices/paw_ro5uij.png"
                     alt="item-image"
                     style="width: 15px; height: 15px; text-align: left; margin-left: 20px;"/>
                     One of them is through donations, which allow us to continue saving lives and providing medical care to dogs in need. If you are interested in making a donation, you can do so through our website by clicking here:
            </p>
            <a href="https://patitas-felices.vercel.app/donation" target="_blank">
                <img src="https://res.cloudinary.com/dreso9ye9/image/upload/v1681880432/133833-money-donation_siju2e.gif"
                     alt="perritos"
                     style="cursor: pointer; width: 150px; height: auto; text-align: center; border-radius: 20px;" />
            </a>
            <p style="color:#163440; font-weight:bold; font-size: 16px; text-align: justify; margin: 10px;">
                <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682196730/Patitas%20felices/paw_ro5uij.png"
                     alt="item-image"
                     style="width: 15px; height: 15px; text-align: left; margin-left: 20px;"/>
                     Additionally, you can also support us by purchasing products from our online store. All funds raised from the sale of our products go directly towards the care and maintenance of the dogs in our care. To view our available products, you can visit our online store by clicking here:
            </p>
            <a href="https://patitas-felices.vercel.app/products" target="_blank">
                <img src="https://res.cloudinary.com/dreso9ye9/image/upload/v1682451588/53902-online-shopping-and-delivery_mcqxa0.gif"
                     alt="perritos"
                     style="cursor: pointer; width: 150px; height: auto; text-align: center; border-radius: 20px;"/>
            </a>
            <p style="color:#592519; text-align: center;">
                Together we can achieve great changes. Thank you for registering!
            </p>
            </p>
        </td>
    <tr>
        <td>
            <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682439195/Patitas%20felices/xAQYbIA_mqguat.png"
                 alt="logo not found"
                 style="max-width: 100px; display:block; margin: 20px auto;" />
        </td>
    </tr>
</table>