<table style="max-width: 600px; height: auto; margin: 0 auto; width: auto; border-radius: 20px; background-color: #D9AD77; font-family: 'Be Vietnam Pro';">
    <tr>
        <td style="text-align: center;">
            <p style="color:#163440; font-weight:bold; font-size: 25px">
                ¡La donación se registró exitosamente! </p>
            <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1683039832/White_and_Orange_Dogs_Modern_Poster_final_1_vbt1fr.gif" 
            alt="foto"
            style="width: 308px; height: 436px; border-radius: 20px; "/>
        </td>
    </tr>
    <tr>
        <td style="color:#163440; font-weight:bold; font-size: 16px">
            <p style="color:#592519; text-align: center;">
                Aquí dejamos la información de tu contribución: </p>
            <p>
            <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682196730/Patitas%20felices/paw_ro5uij.png" 
            alt="item-image" 
            style="width: 15px; height: 15px; text-align: left; margin-left: 20px;"/>
                USUARIO: {{username}}
            </p>
            <p>
            <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682196730/Patitas%20felices/paw_ro5uij.png" 
            alt="item-image" 
            style="width: 15px; height: 15px; text-align: left; margin-left: 20px;"/>
                MONTO DONADO: {{amount}}
            </p>
            <p style="color:#163440; font-weight:bold; text-align: justify; margin: 10px;">
                Estamos muy agradecidos por la ayuda brindada. Gracias a personas cómo tú podemos continuar rescatando y cuidando perritos que necesitan de nuestra ayuda. Tu contribución es muy valiosa y tendrá un impacto positivo en nuestra causa. Queremos asegurarte que la transacción fue realizada de manera segura y que la donación se utilizará de manera efectiva para ayudar a nuestros amigos de cuatro patas. ¡Gracias nuevamente por el apoyo!
            </p>
            <img src="https://res.cloudinary.com/dsbekpj9h/image/upload/v1682439195/Patitas%20felices/xAQYbIA_mqguat.png" 
            alt="logo not found" 
            style="max-width: 100px; display:block; margin: 20px auto;" />
        </td>
    </tr>
</table>