.containerHeader{
    text-align: center;
    margin-bottom: 100px;
    margin-left: 100px;
}

.main{
    background-image: linear-gradient(to right top, #834915, #805329, #7c5b3c, #776350, #726b64);
}

.title > h2 {
    text-align: center;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 700;
    font-size: 40px;
}
.containerStory{
    display: flex;
    justify-content: center;
    width: 90%;
    align-items: center;
    margin-bottom: 105px;
}
.containerStory > p {
    width: 70%;
    font-size: 21px;
    margin-left: 30px;
}
.mainContainer{
    display: flex;
    align-items: center;
    min-height: calc(100vh - 172px);
}
.description{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, #8e6035, #b97e75, #d1a7b1, #e2d3e0, #ffffff);
}