.containerHeader{
    text-align: center;
    margin-bottom: 100px;
    margin-left: 100px;
}
/* 
.main{
    background-image: linear-gradient(to right top, #834915, #805329, #7c5b3c, #776350, #726b64);
} */

.title > h2 {
    text-align: center;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 700;
    font-size: 40px;
}
.containerStory{
    display: flex;
    justify-content: center;
    width: 90%;
    align-items: center;
    margin-bottom: 135px;
}
.containerStory > p {
    width: 70%;
    font-size: 21px;
    margin-left: 30px;
}
.containerStory > div > img {
    border-radius: 10px;
}
.mainContainer{
    min-height: calc(100vh - 172px);
}
.description{
    display: flex;
    align-items: center;
    justify-content: center;
}