.btnBackHomeDash {
    width: 346px;
    background-color: #a65424;
    color: #f2f2f2;
    font-size: 17px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 700;
    padding: 12.5px 0 12.5px 0;
    border-color: transparent;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: background-color 200ms linear, transform 200ms linear;
}

.btnBackHome {
    width: 346px;
    background-color: #a65424;
    color: #f2f2f2;
    font-size: 17px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 700;
    padding: 12.5px 0 12.5px 0;
    border-color: transparent;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: background-color 200ms linear, transform 200ms linear;
}

.btnBackHomeDash:hover {
    transform: scale(1.03);
}

.btnBackHome:hover {
    transform: scale(1.03);
}

.containerBtnNav {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.mixedChart {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    margin-top: 50px;
}

.title1 {
    color: #daa520;
    width: 400px;
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.575);
    border-radius: 5px;
}

.title {
    color: #daa520;
    width: 300px;
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.575);
    border-radius: 5px;
}

.section2 {
    display: flex;
    margin: 50px 0 50px 0;
    color: #daa520;
}

.section21 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section22 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section3 {
    color: #daa520;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    font-weight: 300;
}