.wrapper {
    width: 500px;
    padding: 20px;
}

.btnComprar {
    font-family: 'Be Vietnam Pro', sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: .9em;
    color: #ffffff;
    width: 45%;
    height: 40px;
    background: #163440;
    border-radius: 5px;
    border: none;
    transition: transform 200ms linear, background-color 200ms linear, color 200ms linear;
    cursor: pointer;
}

.btnClean {
    font-family: 'Be Vietnam Pro', sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: .9em;
    color: #ffffff;
    width: 45%;
    height: 40px;
    background: #163440;
    border-radius: 5px;
    border: none;
    transition: transform 200ms linear, background-color 200ms linear, color 200ms linear;
    cursor: pointer;
}