@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;400;500;600;700&display=swap');

.containerNav{
    background-color: #592519;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 3em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.containerLeft{
    display: flex;
    gap: 2.5em;
    margin-left: 4em;
}

.containerRight{
    display: flex;
    gap: 2.5em;
    margin-right: 4em;
}

.link {
    text-decoration: none;
    text-align: center;
}

.links{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: color 200ms linear;
}

.links:hover{
    color: #D9AD77;
}

.divNav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.imgIcons{
    width: 19px;
    height: 19px;
    transition: transform 200ms linear, background-color 200ms linear, color 200ms linear;
}

.imgIcons:hover{
    transform: scale(1.09);
}