.mainContainer {
    width: 1200px;
    height: 400px;
    display: flex;
    align-items: center;
    margin: 0px 0 50px 0;
}

.reviewImage {
    height: 500px;
    padding-left: 5%;
}

.containerRight {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #16343f;
    padding-left: 3%;
}

.containerRight h1 {
    padding: 0;
    margin: 0;
    color: #16343f;
}
.containerRight span {
    color: #a65424;
}
.containerRight h3 {
    margin-top: 0;
    padding-top: 0;
}

.carousel {
    display: flex;
    align-items: center;
    gap: 20px;
}

.carousel i {
    color: #a65424;
    font-size: 20px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}
.carousel i:hover {
    color: #16343f;
}

.reviewCard {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 200px;
    padding: 15px 30px 15px 30px;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    transition: ease-in-out 0.2s;
}
.reviewCard:hover {
    transform: scale(1.01);
}

.userImg img{
    height: 150px;
    border-radius: 50%;
    margin-right: 30px;
}

.stars i {
    color: goldenrod;
}

.comentary {
    height: fit-content;
    width: 370px;
    display: flex;
    align-items: start;
}

.reviewInfo {
    display: flex;
    flex-direction: column;
}
.reviewInfo h2 {
    margin-bottom: 0;
    padding-bottom: 0;
    color: #592518;
}