.mainContainer-Form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./images/formImage.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 115vh
}

.container-Form {
    background: rgba(0, 0, 0, 0.55);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    height: 96%;
    width: 1100px;
}

.title-Form {
    color: #D9AD77;
    font-size: 50px;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
}

.box-Form {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.containerInputsLeft-Form {
    display: flex;
    flex-direction: column;
    width: 37%;
}

.containerInputsRight-Form {
    display: flex;
    flex-direction: column;
    width: 37%;
}

.eachField {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 132px;
    color: #FFFFFF;
}
.eachField label {
    margin-bottom: 5px;
    height: 41px;
    color: #FFFFFF;
}
.eachField input {
    margin-bottom: 5px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: none;
    padding: 15px;
}
.eachField select {
    margin-bottom: 5px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: none;
    padding: 14px;
}
.errorMessage {
    font-size: 14px;
    color: rgb(202, 0, 0);
    font-weight: 500;
    margin-left: 5px;
}

.otherAnimals-Container {
    display: flex;
    align-items: flex-start;
    height: 85px;
}

.hideInput {
    display: flex;
    flex-direction: column;
    width: 394px;
}

.containerUpload-Form label {
    color: #FFFFFF;
    margin-bottom: 5px;
    display: flex;
    height: 41px;
    transition: display 200ms linear;
}

.upload-Form {
    background-color: #FFFFFF;
    border-radius: 5px;
    border: none;
    width: 377px;
    height: 15px;
}

.userImageContainer-AdoptionForm {
    position: relative;
    border-radius: 5px;
    left: 110%; 
    bottom: 50%;
    display: none;
    transition: display 200ms linear;
    
}

.userImageContainer-AdoptionForm img {
    position: absolute;
}

.containerUpload-Form:hover .userImageContainer-AdoptionForm {
    display: block;
    
}
.userImage-AdoptionForm {
    width: 200px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.containerBtn-Form {
    text-align: center;
}

.containerBtn-Form>button {
    font-size: 16px;
    padding: 14px;
    width: 30%;
    background: #592519;
    border: none;
    border-radius: 5px;
    color: white;
    /* margin-top: 20px; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition:
        background-color 200ms linear,
        transform 200ms linear;
}

.containerBtn-Form>button:hover {
    background-color: #163440;
    transform: scale(1.02);
}

.goHome-Form {
    color: #592519;
    font-size: 25px;
    margin-left: 5px;
    transition: color 300ms linear;
}

.goHome-Form:hover {
    color: #163440;
}
.containerGoHome-Form{
    display: flex;
    justify-content: center;
    align-items: baseline;
    color: beige;
}



