.bodyProducts {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.filtersContainer {
    position: fixed;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    width: 18%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardSection {
    margin: 50px 0 60px 18%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paginatedContainer {
    padding: 0;
    margin: 0;
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}