.main {
    display: flex;
    align-items: center;
    width: 100vw;
}

.filtersContainer {
    width: 18%;
    height: 80vh;
    margin: 2% 2% 2% 2%;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardSection {
    width: 100%;
    padding: 2% 5% 2% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paginatedContainer {
    padding: 0;
    margin: 0;
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}