@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;400;600;700&display=swap');

.containerCard {
    /* flex-basis: calc (50% - 10px); */
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	width: 500px;
	height: 300px;
	background-color: #d9ad77;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
	border-radius: 10px;
	position: relative;
    padding: 15px;
    box-sizing: border-box;
    transition: transform .6s ease;
}
.containerCard:hover {
    transform: scale(1.07);
    z-index: 1;
    position: relative;
}

.containerIcon {
	display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25px;
    right: 25px;
    border-radius: 10px;
    background-color: #d9ad77;
    border: 3px solid #163440;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
    width: 45px;
    height: 45px;
    /* margin: 0; */
}

.Icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: relative;
    display: inline-block;
}
.Icon:hover::before {
    content: attr(title);
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: #333;
    color: #fff;
    font-size: 14px;
    opacity: 0.8;
    border-radius: 10px;
  }

.pic {
    box-sizing: border-box;
    margin-right: 15px;
}

.containerImg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 200px;
    float: left;
    overflow: hidden;
    border-radius: 10px;
    border: 12px solid #163440;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.containerImg img{
    width: 100%;
    height: auto;
    margin-top: 0px;
}

.divDogInfo{
    display: flex;
    flex: 1;
    flex-shrink: 1;
    padding-left: 10px;
    flex-direction: column;
    justify-content: space-evenly;
    width: 200px;
    height: 100%;
    /* bottom: 60px; */
    cursor: pointer;
    background: rgba(166, 84, 36, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.divDogInfo:hover::before {
    content: attr(title);
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: #333;   
    color: #fff;
    font-size: 14px;
    opacity: 0.8;
    border-radius: 4px;
    display: none;
  }
  /* .divDogInfo::after{
    
  } */

.divData {
	display: flex;
	flex-wrap: wrap;
    gap: 5px;
	justify-content: left;
	align-items: center;
	overflow: auto;
    margin-top: 5px;
	/* flex-direction: row; */
}


.divData h3 {
    /* display: list-item; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Be Vietnam Pro';
    color: #163440;
    font-weight: 600;
    font-size: 1em;
    margin: 5px;
  }

.temps {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Be Vietnam Pro';
    color: #163440;
    font-weight: 600;
    font-size: 1em;
    margin: 5px; 
}

.itemIcon{
    margin-right: 5px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
}

.divDataName {
	text-transform: uppercase;
    display: flex;
	flex-wrap: wrap;
    /* margin: 5px; */
    /* gap: 5px; */
	justify-content: center;
	align-items: center;
    color: #592519;
    font-weight: 800;
    font-size: 1.2em;
    background: rgba(166, 84, 36, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
    /* margin-top: 15px; */
}

/* .containerButton{
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #163440;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 330px;
    height: 40px;
    font-family: 'Be Vietnam Pro';
    text-align: center;
    cursor: pointer;
    color: #D9AD77;
    font-weight: 400;
    font-size: 19px;
} */

.dialogDescription {
    background-color: #163440;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description {
    text-align: justify;
}

.dogDetail > h3 {
    margin: 0;
    background: #592519;
    display: inline;
    padding: 8px 18px;
    border-radius: 20px;
    color: #D9AD77;
    position: absolute;
    justify-content: center;
    text-align: center;
}

.dogDetail .avatar {
    width: 230px;
    height: 230px;
    overflow: hidden;
    border-radius: 50%;
    border: 15px solid #D9AD77;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
}

.dogDetail .avatar > img {
    width: 100%;
    height: auto;
}

.containerInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: auto;
    border-radius: 20px;
    display: flex;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    background-color: #D9AD77;
    width: 300px;
    height: 350px;
}

.containerInfo > h3 {
    text-align: center;
    font-family: 'Be Vietnam Pro';
    color: #163440; 
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}


/* .dogDetail .description {
} */
