.containerCardsHDS-Home{
    display: flex;
    justify-content: center;
    overflow: hidden;   
}
.mainContainerCardsHDS-Home > h1{
    text-align: center;
    /* margin-bottom: -30px; */
    margin-bottom: 5px;
}
.mainContainerCardsHDS-Home > h1 > span{
    color: #A65424;
}
.mainContainerCardsHDS-Home > div > button{
    width: 20%;
    margin-bottom: 50px;
    padding: 12px;
    background-color: #A65424;
    border: none;
    border-radius: 4px;
}
.mainContainerCardsHDS-Home > div > button:hover{
    transform: scale(1.03);
    background-color: #112933;
    transition: 500ms;
}
.mainContainerCardsHDS-Home > div > button > a{
    text-decoration: none;
    color: white;
}
.mainContainerCardsHDS-Home > div {
    display: flex;
    justify-content: center;
}
.sectionDonationProducts-Home{
    text-align: center;
    margin-bottom: 80px;
}
