@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700&display=swap');

.mainContainerPasswordReset {
    background-image: url(https://images5.alphacoders.com/466/466957.jpg);
    background-position: 20%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    height: 100vh;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #592519;
}

.formPasswordReset {
    background: rgba(242, 242, 242, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 370px;
    border-radius: 5px;
    margin-right: 150px;
    height: 590px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title {
    color: #592519;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.title h1 {
    margin: 0;
    padding: 0;
    text-align: center;
}

.containerInputsPassword {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 316px;
    height: 252px;
}

.password {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 82px;
    margin-bottom: 24px;
    width: 100%;
}
.password label {
    color: #592519;
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: 600;
}

.confirmPassword {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 82px;
    margin-bottom: 24px;
    width: 100%;
}
.confirmPassword label {
    color: #592519;
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: 600;
}

.containerButtonPasswordReset {
    position: relative;
    margin-bottom: 30px;
    width: 100%;
}


.goHome {
    color: #592519;
    font-size: 30px;
    transition: color 300ms linear;
}
.goHome:hover {
    color: #163440;
}

/*.containerButtonRecover {*/
/*    position: relative;*/
/*    margin-bottom: 30px;*/
/*}*/