@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;400;600;700&display=swap');


.bodyLanding{
    display: flex;
    justify-content: center;
    background-image: url(https://res.cloudinary.com/dreso9ye9/image/upload/v1681313423/Proyecto%20Final/australian-shepherd-autumn-fallen-leaves-little-aussie-dogs_e1sgyu.jpg);
    background-size: cover;
    background-attachment: fixed;  
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.divLanding{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 60em;
}
.titleLanding{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 300;
    font-size: 3em;
    letter-spacing: -.015em;
}

.spanLanding{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 700;
    line-height: 1.05;
    letter-spacing: -.015em;
    color: #D9AD77;
    text-shadow: 3px 1px 2px rgba(0,0,0,0.6);
}

.btnLanding{
    margin-top: 10px;
    font-family: 'Be Vietnam Pro', sans-serif;
    text-align: center;
    cursor: pointer;
    padding: 17px 30px;
    color: #ffffff;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    background-color: #163440;
    font-weight: 600;
    line-height: 30px;
    transition: .5s ease-in-out;
    width: 15em;
    height: 3em;
}
.btnLanding:hover{
    background-color: #592519;
    color: #ffffff;
}