.mainContainer{
    width: 1200px;
    margin: 50px auto;
    min-height: 72vh;
}

.avatar {
    display: flex;
    background: #592519;
    padding: 10px;
    align-items: center;
}

.avatar h1 {
    margin: 0 0 0 10px;
}

.avatar h2 {
    margin: 0 0 0 10px;
}