@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700&display=swap%27');

.mainContainer-Register {
    background-image: url(https://images5.alphacoders.com/466/466957.jpg);
    background-position: 20%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    height: 100vh;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #592519;
}

.form-Register {
    background: rgba(242, 242, 242, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 430px;
    border-radius: 5px;
    margin-right: 120px;
    height: 672px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title {
    color: #592519;
    font-size: 25px;
    padding: 0;
    margin: 0;
}

.title h1 {
    margin: 0;
    padding: 0;
}

.containerInputs-Register {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 376px;
    height: 389px;
}

.personalInfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nombre {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 82px;
    margin-bottom: 24px;
}

.nombre input {
    background-color: #D9D9D9;
    padding: 16px 0 16px 10px;
    border: none;
    border-radius: 5px;
    width: 166.5px;
}

.nombre label {
    color: #592519;
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: 600;
}

.apellido {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 82px;
    margin-bottom: 24px;
}

.apellido input {
    background-color: #D9D9D9;
    padding: 16px 0 16px 10px;
    border: none;
    border-radius: 5px;
    width: 166.5px;
}

.apellido label {
    color: #592519;
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: 600;
}

.email {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 82px;
    margin-bottom: 24px;
}

.email input {
    background-color: #D9D9D9;
    padding: 16px 0 16px 0px;
    border: none;
    border-radius: 5px;
    width: 376px;
}

.email label {
    color: #592519;
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: 600;
}

.contraseña {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 82px;
    margin-bottom: 24px;
}

.contraseña input {
    background-color: #D9D9D9;
    padding: 16px 0 16px 0px;
    border: none;
    border-radius: 5px;
    width: 376px;
}

.contraseña label {
    color: #592519;
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: 600;
}

.buttonRegister {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 376px;
    font-size: 18px;
    font-weight: 500;
    background-color: #592519;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition:
        background-color 200ms linear,
        transform 200ms linear;
}

.buttonRegister>a {
    text-decoration: none;
    color: white;
}

.buttonRegister:hover {
    background-color: #163440;
    transform: scale(1.02);
}

.containerGoogle-Register {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* margin-top: 15px; */
    width: 376px;
    border-radius: 5px;
    height: 48px;
    transition: background-color 200ms linear;
}

.containerGoogle-Register p {
    display: flex;
    gap: 6px;
    font-weight: 500;
}

.containerGoogle-Register:hover {
    background-color: #D9D9D9;
}

.siCuenta {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 5px;
    text-decoration: none;
}

.goHome {
    color: #592519;
    font-size: 30px;
    transition: color 300ms linear;
}

.goHome:hover {
    color: #163440;
}

/* .form-Register > h1{
    color: #592519;
    font-family: 'Be Vietnam Pro', sans-serif;
    margin-bottom: 60px;
}
.containerInputs-Register{
    display: flex;
    flex-direction: column;
}
.containerInputs-Register > input {
    background-color: #D9D9D9;
    padding: 12px;
    text-align: center;
    margin-bottom: 25px;
    border: none;
    border-radius: 5px;
    
}
.containerInputs-Register > label {
    margin-bottom: 20px;
    color: #592519;
    font-size: 22px;
}
.containerButton-Register > button{
    padding: 10px;
    width: 65%;
    background-color: #592519;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}
.containerButton-Register {
    margin-top: 20px;
}
.containerGoogle-Register{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.containerGoogle-Register > p {
    display: flex;
    gap: 10px;
} */