.searchBar input {
    width: 260px;
    border: none;
    outline: none;
    background-color: rgba(70, 70, 70, 0.308);
    font-size: 1rem;
    border-radius: 5px;
    padding: 10px;
    color: #f2f2f2;
    transition: ease-in-out 0.2s;
    margin-bottom: 20px;
}

.searchBar button {
    width: 30px;
}

.searchBar input:focus {
    background-color: rgba(70, 70, 70, 0.493);
}